appdirs==1.4.4
asttokens==3.0.0
clipboard==0.0.4
colorama==0.4.6
dotenv==0.9.9
et_xmlfile==2.0.0
executing==2.2.0
icecream==2.1.4
iniconfig==2.1.0
Markdown==3.8.2
openpyxl==3.1.5
packaging==25.0
pillow==11.3.0
pluggy==1.6.0
psi-toml==0.0.18
psiconfig==0.0.15
psiutils==0.2.10
pycairo==1.28.0
Pygments==2.19.2
PyGObject==3.54.2
pyperclip==1.9.0
pytest==8.3.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
six==1.17.0
structlog==25.4.0
termcolor==3.1.0
tkinterweb==4.4.4
tkinterweb-tkhtml==1.1.4
tomli==2.2.1
tomli_w==1.2.0
workbooky==0.0.5
