appdirs==1.4.4
asttokens==3.0.0
clipboard==0.0.4
colorama==0.4.6
dotenv==0.9.9
et-xmlfile==2.0.0
executing==2.2.0
icecream==2.1.4
iniconfig==2.3.0
markdown==3.10
openpyxl==3.1.5
packaging==25.0
pillow==12.0.0
pip==24.3.1
pluggy==1.6.0
psi-toml==0.0.21
psiconfig==0.0.16
psiutils==0.2.13
pycairo==1.28.0
pygments==2.19.2
pyperclip==1.9.0
pytest==8.3.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
six==1.17.0
structlog==25.4.0
termcolor==3.1.0
tkinterweb==4.8.1
tkinterweb-tkhtml==2.0.0
tomli==2.3.0
tomli-w==1.2.0
workbooky==0.0.5
